
// SCSS
.error {
    border: 1px #f00;
    background-color: #fdd;
  
    &--serious {
      @extend .error;
      border-width: 3px;
    }
  }

// CSS

.error, .error--serious {
    border: 1px #f00;
    background-color: #fdd;
  }
  .error--serious {
    border-width: 3px;
  }
  



  // SCSS
  .error:hover {
    background-color: #fee;
  }
  
  .error--serious {
    @extend .error;
    border-width: 3px;
  }


  // CSS
  .error:hover, .error--serious:hover {
    background-color: #fee;
  }
  
  .error--serious {
    border-width: 3px;
  }

  