@function sum($numbers...) {
    $sum: 0;
    @each $number in $numbers {
      $sum: $sum + $number;
    }
    @return $sum;
}
  
.micro {
width: sum(50px, 30px, 100px);
}



$widths: 50px, 30px, 100px;
.macro {
  width: max($widths...);
}