/* source: https://sass-lang.com/documentation/variables/ */

// Global Variables

/* Colors starts */

$color-background-main: #bebebe;
$color-background-secondary: #a7a7a7;

/* Colors ends */


/* Built-in Variables starts */

// Variables that are defined by a built-in module cannot be modified.
@use "sass:math" as math;

.box {
    border-radius: math.$pi;
    background-color: $color-background-secondary;
}
/* Built-in Variables ends */

body {
    $color-background-main: #eee;
    background-color: $color-background-main;
}


/* Flow control scope */
$dark-theme: true !default;
$primary-color: #f8bbd0 !default;
$accent-color: #6a1b9a !default;

@if $dark-theme {
  $primary-color: darken($primary-color, 60%);
  $accent-color: lighten($accent-color, 60%);
}

.button {
    background-color: $primary-color;
    border: 1px solid $accent-color;
    border-radius: 3px;
  }
