// styles.scss
// @use 'all' as all;
// all. eklemek gerekir

@import 'all';

:root {
    --primary-color: #{map-get($light-theme, primary)};
    --secondary-color: #{map-get($light-theme, secondary)};
    --background-color: #{map-get($light-theme, background)};
    --text-color: #{map-get($light-theme, text)};
  }
  
  .dark-mode {
    --primary-color: #{map-get($dark-theme, primary)};
    --secondary-color: #{map-get($dark-theme, secondary)};
    --background-color: #{map-get($dark-theme, background)};
    --text-color: #{map-get($dark-theme, text)};
  }


body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.button {
  background-color: var(--primary-color);
  color: var(--text-color);
}

// Mixins
@include bg("primary", "#0099c4");
@include bg("secondary", "#bababa");
@include bg("warning", "#ffb62f");

.pulse {
  @include inline-animation(2s) {
    from { background-color: yellow }
    to { background-color: red }
  }
}

// mixin include _mixins
nav ul {
  @include horizontal-list;
}