@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
:root {
  --primary-color: #fff;
  --secondary-color: #f7f7f7;
  --background-color: #fff;
  --text-color: #333;
}

.dark-mode {
  --primary-color: #333;
  --secondary-color: #444;
  --background-color: #333;
  --text-color: #fff;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.button {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.bg-primary {
  background-color: #0099c4;
}

.bg-secondary {
  background-color: #bababa;
}

.bg-warning {
  background-color: #ffb62f;
}

.pulse {
  animation-name: inline-unkn1aa;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes inline-unkn1aa {
  from {
    background-color: yellow;
  }
  to {
    background-color: red;
  }
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav ul li {
  display: inline-block;
  margin-left: -2px;
  margin-right: 2em;
}/*# sourceMappingURL=styles.css.map */